<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551683820741-tifg6qbf76arutgtkh8t3vje2k56fss0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551683820741-tifg6qbf76arutgtkh8t3vje2k56fss0</string>
	<key>API_KEY</key>
	<string>AIzaSyAFBzjo48ao-GZR7Rj-VeIRtmy-B2GuVB8</string>
	<key>GCM_SENDER_ID</key>
	<string>551683820741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aural</string>
	<key>PROJECT_ID</key>
	<string>aural-00</string>
	<key>STORAGE_BUCKET</key>
	<string>aural-00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551683820741:ios:d2e5a8b97199fde10e34ac</string>
</dict>
</plist>